.icon:before {
    margin-right: 10px;
}
.btn-warning {
    color: #fbfbfb;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    
    margin-right: 9px;
}
.head-new{
    background: teal;
    color: white;
}
.head-edit{
    background: #ffc721 ;
    color: white;
}
.head-delete{
    background: #d20606;
    color: white;
}
.mensaje{
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.047em;
    font-weight: 400;
    font-style: italic;
    background: blanchedalmond;
    text-align: center;
}
.btnFile{
    font-size: 0.6rem;
    line-height: 2;
    letter-spacing: 0em;
    font-weight: 100;
    font-style: italic;
}
.btn-edit{
    background: #ffc721;
    color: white;
}
.container{
    position: relative;
    top: 60px;
    z-index: 0;
}

header{
    z-index: 1;
}
.navbar{
    padding: 0 0 0 0;
    height: 25px;
}
/* filtro de columna input */
thead input {
    width: 100%;
}